@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}





 <h3 class="align-content-between">Výběr zdrojoveho formátu</h3> <br/>
      
            
              <label><input  value="F" type="radio" />csv</label> 
              <label><input  value="U" type="radio"/>xlsx</label>
              <label><input  value="U" type="radio"/>xml</label>
                       


 <div>-------------------------------------------------    2   ----------------------------------------------------------</div>





     <footer>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
              
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                      
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="File" asp-action="Wizard">BACK --> 1</a>
                        </li>
                            
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="File" asp-action="Wizard3"> NEXT --> 3</a>
                        </li>

                        


                    </ul>
                </div>
            </div>
        </nav>
    </footer>