@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


        <h1 class="align-content-between">Výběr zdroje</h1> <br/>

        <label><input value="F" type="radio" />FILE</label> 
        <label><input  value="U" type="radio"/>URL</label>

        
            <br/> <br /> 
            <INPUT id="oFile" type="file" runat="server" NAME="oFile">
     
                <input />







    <footer>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
              
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">


                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="File" asp-action="Wizard2"> NEXT -> 2</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </footer>